 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
 <div class="user-details">
  <h1> Education </h1>
  <p> {{site.education}} </p>
</div>
  //<div class="user" align="center">
    <div class="tech" align="center">
      <h2>Web</h2>
      <i class="devicon-wordpress-plain colored"></i>
      <i class="devicon-bitbucket-plain colored"></i>
      <i class="devicon-github-plain"></i>
      <p>
       Wordpress<br>
       Joomla!<br>
       Invision Power Board<br> 
       phpBB<br>
       vBulletin<br>
       Simple Machine Forums<br>
       Git
      </p>
    </div>
    <div class="tech" align="center">
      <h2>Code</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-csharp-plain"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>
       HTML<br>
       CSS<br>
       Java<br>
       C#<br>
       Visual Basic<br>
       Verilog<br>
      </p>
    </div>
    <div class="tech" align="center">
      <h2>Design</h2>
      <i class="devicon-photoshop-line colored"></i>
      <i class="devicon-gimp-plain"></i>
      <i class="devicon-illustrator-line colored"></i>
      <p>
       PhotoShop<br>
       Illustrator<br>
       ImageReady<br>
       GIMP<br>
       Axure<br>
       FluidUI<br>
      </p>
    </div>
//</div>
