 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Web</h2>
      <i class="devicon-wordpress-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-bitbucket-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-photoshop-line"></i>
      <i class="devicon-gimp-plain colored"></i>
      <i class="devicon-illustrator-line"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
