 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Web</h2>
      <i class="devicon-wordpress-plain colored"></i>
      <i class="devicon-bitbucket-plain colored"></i>
      <i class="devicon-github-plain"></i>
      <p><ul>
      <li>Wordpress
      <li>Joomla!
      <li>Invision Power Board
      <li>phpBB
      <li>vBulletin
      <li>Simple Machine Forums
      <li>Git
      </ul></p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-csharp-plain"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>HTML, CSS, Java, C#, Visual Basic, Verilog</p>
    </div>
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-photoshop-line colored"></i>
      <i class="devicon-gimp-plain"></i>
      <i class="devicon-illustrator-line colored"></i>
      <p>PhotoShop, Illustrator, ImageReady, GIMP, Axure, FluidUI</p>
    </div>
</div>
