 <div class="user-details">
  <h1> Contact Me </h1>
</div>

<form id="contact-form" action="http://formspree.io/kevinmiddleton@my.ccsu.edu" method="POST">

    <div id="form-title">Name:</div>
    <input type="text" name="name" placeholder="Name:" class="form-field">

    <div id="form-title">Email:</div>
    <input type="email" name="_replyto" placeholder="Email:" class="form-field">

    <div id="form-message">Message:</div>
    <textarea name="message" rows="10" placeholder="Enter your message" class="form-field form-message"></textarea>

    <input type="hidden" name="_subject" value="Portfolio Contact" />
    <input type="text" name="_gotcha" style="display:none">

    <div id="buttons-container">
       <input type="submit" value="Send" class="buttons">
    </div>

</form>
