#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
  margin: 0 auto;
  width: 80%;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    //flex-wrap: nowrap;
    margin: 0 auto;
    width: 80%;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}
