#about {
  width: 90%;
  margin: 0px auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    align-content: center;
    width: 80%;
  }
}

.tech {
  margin-left: 30px;
  margin-right: 30px;  
  @media only screen and (min-width: $cut) {
  align-content: center;
}

.user {
  margin: 280px;
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}
